# Coding Temple's Data Analytics Course
---
## Python I: Variable Assignment, Loops, Lists
---

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [121]:
#a interger can be converted to float, a float can never be an integer. They are two different data types in python
#to assign to a variable, #1 name the variable. Must be all lowercase when naming variables. (except when using matrices)
#use snake casing for seperating words. lowercase with an underscore is snakecasing ex. lower_casing 

number = 6 #means setting it to something == means you are comparing it to something
number  #means 6 even if 6 is not there

6

##### Assinging float

In [122]:
number_float = 2.3
number_float

2.3

#### Performing Calculations on ints and floats

##### Addition

In [123]:
num_1 = 2
num_2 = 5.4

#this is one way we can perform addition to two different numbers 
result = num_1 + num_2
print(result)

#there is also a pythonic way to do this (simpler/less code)
result += num_2 #exact same thing as saying result = result + num_2

# += means that i'm adding to the value on the left handside

print(result) #i need to have as many print() as functions I want to see printed

7.4
12.8

##### Subtraction

In [124]:
result_diff = num_2 - num_1
print(result_diff)

#pythonic version:
result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [125]:
result_mult = num_1 = num_2
print(result_mult)

#pythonic version:
result_mult *= 2
print(result_mult)

5.4
10.8

##### Division

In [126]:
result_div = num_2 / num_1
print(result_div)

#pythonic method:
result_div /= 2
print(result_div)

1.0
0.5

##### Floor Division

In [127]:
#floor division rounds to the nearest whole
result_floor = num_2 // num_1
print(result_floor) 

#pythonic methoid
result_floor //= 2
print(result_floor)

1.0
0.0

##### Modulo

In [128]:
#returns only the remaining portion of your division (the remainder)
result_mod = num_2 %  num_1
print(result_mod)

0.0

##### Exponential

In [129]:
squared = 5 ** 2 #this is saying 5x5
print(squared)

#pythonic method:
squared **= 2
print(squared)

25
625

### String Input-Output

##### String Assignment

In [130]:
#define string with double or single quotes equal to variable
name = "Kali"
print(name)

Kali

##### print() <br>
<p>Don't forget about end=' '</p>

In [131]:
print("this is my first name:",name)
print("full name:", name , end="K.")

this is my first name: Kali
full name: KaliK.

##### String Concatenation

In [132]:
first_name = "Kali"
last_name = "K."

full_name = first_name + ' ' + last_name #the space puts the space between first and last name

#pythonic method
full_name += " jr. "
full_name

'Kali K. jr. '

##### Type Conversion

In [133]:
number = '32'
#number + 23 #can't concationate string to integers like this

change_type_num = int(number)
print(number)
print(change_type_num)
#doesn't change unless you add the number you want to change
print(change_type_num + 23)

#change_type_num is a variable that holds an object thats why you can't set it equal to anything or

32
32
55

##### input()

In [134]:
#input is a function. It askes for input in the terminal
name = input("what is your name?")
print(name)

age = input("what is  your age")
print(type(age)) #adding type will tell you what type of object it is
print(age)
#input always outputs a string object
#wrap it in int call to make it a integer

kali
<class 'str'>
we

##### format()

In [ ]:
age = input("what is your age?")
result_str = "You are {} {} and you are getting wiser!".format(age, name)
print(result_str)

#shorthand way to do this is called f-string. takes teh letter f and place it at the front of the string 
result_again = f"{age} is a great time in life!"

##### Old Way (python 2)

In [135]:
results_str_2 = "you are %  and you look great for your age!"
results_str_2

'you are %  and you look great for your age!'

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [136]:
# Uses input function to ask for color, year, make, and model of vehicle.
# Then, you will use a .format() or f-string to print those values back to your user.

color = input("what color is your car?")
make = input("what is the make of your car?")
model = input("what is the model?")
year = input("what is the year made?")

print(f"The vehicle is a {color}, {make}, {model}, {year} ")

#set input equal to a variable, then place f statement into print statement

The vehicle is a qw, we, we, we

### If Statements

In [139]:
#available operands: >, <, ==, >=, <=

#Truth tree:
#T && F = F
#T && T = T
#T || F = T
#F || T = T
#F || F = F

num_1 = 5
num_2 = 10

if num_2 == num_1:
    print("equal values")
else:
    print("not equal")

if num_2 > num_1 and num_1 < 20:
    print("low number")

not equal
low number

##### 'is' keyword

In [141]:
# is keywork is used when we check if something is the same/similar to an object
num_3 = 55

if num_3 is 55:
    print("this is the exact number/object")

this is the exat number/object

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/sl/vm13vmsn0bz16pw005vvm7d80000gn/T/ipykernel_94782/19024450.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num_3 is 55:

##### 'in' keyword

In [143]:
char_name = "max payne"

if "a" in char_name:
    print("The character that lost everything")

The character that lost everything

##### 'not in' keyword'

In [147]:
char_list = [char_name, "sonic", "tails", "knuckles"]
name = input("character name:")

if name not in char_list:
    print(f"the character name {name} is not present in this list")
else:
    print(f"here is the charcter you asked for: {name}")

here is the charcter you asked for: sonic

# In-Class Exercise 2 <br>
<p>Ask a user for input, check to see if the letter 'p' is in the input</p>

In [151]:
#letters = [letters_name, "z", "p", "k"] #create list/tupple use [] to do so

ask = input("Think of a word with the letter p")

if "p" in ask:
    print(f"the letter p is in ask {ask}. Good Job!")
else:
    print(f"try again {ask}. Didn't have the letter p")

the letter p is in ask pat. Good Job!
['pat', 'z', 't', 34]

## Using 'and'/'or' with If Statements

In [ ]:
num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 3

#if with "and " stsatement
if num_1 / 5 == num_2 and num_3 -7 == num_4:
    print("true and true")

#these are teh same thing
if num_1/ 5 == num_2 & num_3 -7 == num_4:
    print("true and true")

### Elif Statements

In [154]:
#will be triggered if the first if statement fails

first_name = input("Kali")

if first_name == "Katie":
    print("your name is Kali")

elif first_name != "Alex":
    print("Your name is not alex!")

#otherwise
else:
    print("Your name is Kali")

Your name is not alex!

### Else Statements

In [ ]:
#see above

### For Loops

In [177]:
#iterables: an interable is something that can be parsed over in smaller chuncks
#ex. words can be broken down to letters. A list of words can be broken down to each individual word. 

name = "Kali K"

#one method of looping
for letter in name: 
    print(letter)

#this method gives back values associated with the object you are iterating through
for letter in char_list:
    print(letter)

#another method for loop looks over a range of values, to access index positions and gather back values that way
for index_position in range(len(name)):
    print(char_list[index_position])

K
a
l
i

K
pat
z
t
34
pat
z
t
34

IndexError: list index out of range

##### Continue Statement

In [161]:
#continues to the next interation, bypassing all other values/actions that you might want to take
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
#will break out of the current loop it is present in:
for i in range(20):
    if i == 5:
        break

##### Pass Statement

In [176]:
#mostly used as a placeholder and will continue onto the same iteration:

for i in name:
    pass #toodo (to do): come back and finish implementation

def replace_rows_in_database(info):
    #todo: write out a function that can replace in DB
    pass

##### Double For Loops

In [170]:
#nested loops. use for prime number problem

for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [171]:
#while keyword with conditional statement
#based on that cond statement, teh loop will either continue or stop

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [172]:
#is an infinite loop. don't forget to add break for example to stop it so wont' crash cpu

game_over = False
while True:
    print("infinite loop")
    
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

In [173]:
num = 0

while num < 5:
    print("while loop iteration #:", num)

    for i in range(2):
        print("For loop iteration #:", i)

        num += 1

while loop iteration #: 0
For loop iteration #: 0
For loop iteration #: 1
while loop iteration #: 2
For loop iteration #: 0
For loop iteration #: 1
while loop iteration #: 4
For loop iteration #: 0
For loop iteration #: 1

### Built-In Functions

##### range()

In [178]:
# takes in a start, stop, and step

#start is infered as the value of 0, step inferred as the value of 1
#so, from 0 to your defined stopping point(non-inclusive), at a step size, increase of 1
#1value per iteration

#range(5) -> [0,1,2,3,4]

for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [179]:
#lenght = len

name_length = len(name)

char_list_len = len(char_list)
print(char_list_len)

4

##### help()

In [180]:
#need to know more about a function? use help function

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [184]:
# isinstance(var, type). used to verify information

isinstance(4.5, int) #asking if it is true

if isinstance(4.5, float):
    print("this number is a float")

this number is a float

##### abs()

In [185]:
# absolute value
# | 5| -. 5
#| -5 | -> -5

abs(-5)

5

In [186]:
number_test = 0
input_num = int(input("guess a number"))

if input_num != number_test:
    input_num = input_num + number_test
    print("your number is" + str(input_num))
except:
print("Nope: Error! change input value into number")

SyntaxError: invalid syntax (21619312.py, line 7)

### Try and Except

### Lists

##### Declaring Lists

In [199]:
#1-d data structure. only along x axis, there is no Y-axis. No columns just values
l_1 = []

#alternatively, I can declare a list using the list() function:
l_2 = list()

names = ["alex", "andy", "kali", "randy"]
print(names)

['alex', 'andy', 'kali', 'randy']

##### Indexing a List

In [200]:
#[start: stop: step]
#single index -- very first value:

print(names[0])

#print all the names starting with the second name(position 1) all the way to the end of the list
print(names[1:])

#print all the names starting at the begining of the list and going all the way up until N (n == the number we want to stop at)
print(names[1::2])

#print all names in reverse
print(names[::-1]) #-1 means we're starting at teh end of the list. :: means we're getting all the numbers in the list

alex
['andy', 'kali', 'randy']
['andy', 'randy']
['randy', 'kali', 'andy', 'alex']

##### .append()

In [201]:
names.append("Lee")
print(names)

['alex', 'andy', 'kali', 'randy', 'Lee']

##### .insert()

In [202]:
names.sort()
names.insert(2, "james")
names  #number is the position of where you want to insert

['Lee', 'alex', 'james', 'andy', 'kali', 'randy']

##### .pop()

In [203]:
#defalut to removing the last value if the parenthesis are left empty
#pop also returns the removed value! so you can save it to a variable

removed_name = names.pop(4)
print(removed_name)
print(names)

kali
['Lee', 'alex', 'james', 'andy', 'randy']


##### .remove()

In [204]:
#remove all my multiples out of this list
# .remove() only removes first instance of the value you want to remove, thats why we use the loop
#removes values not index positions!

while "bob" in names:
    names.remove("bob")

names

['Lee', 'alex', 'james', 'andy', 'randy']

##### del()

In [206]:
del(names[1])
print(names)

names[1]

['Lee', 'andy', 'randy']

'andy'

##### Concatenating Two Lists

In [208]:
l_2 = [0,1,2]
l_3 = [3,4,5]

l_2 + l_3

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [213]:
# list are able to house any and all data types at one time. 
#This includes, data stores: other lists, dictionaries, sets, etc
#these can nest as deep as you want ex. API's

names = ["max", 23, 2,345, ["sally", 45, 4,56, ["todo"]]]
print(names)
print(names[3][3][0])

['max', 23, 2, 345, ['sally', 45, 4, 56, ['todo']]]

TypeError: 'int' object is not subscriptable

##### Looping Through Lists

In [214]:
#we can loop through using the two methods dwe learned earlier: index position, 
#loop thorugh with a index accessor:
for index in range(len(names)):
    print(names[index]):

    for value in names:
        print(value)

SyntaxError: invalid syntax (2980716996.py, line 4)